<div class="container">
  <h1>All bookings</h1>
    <ul>
      <% @bookings.each do |booking| %>
          <div class="card-product">
            <div class="card-product-infos">
              <li>Yachtname: <%= booking.yacht.name %></li>
              <li>Begin: <%= booking.start_time.strftime("%d/%m/%Y")%></li>
              <li>End: <%= booking.end_time.strftime("%d/%m/%Y")%></li>
              <li>Interested person: <%= booking.user.first_name %></li>
            </div>
            <div>
              <p><%= button_to "Accept" %></p>
              <p><%= button_to "Decline" %></p>
            </div>
          </div>
  <% end %>
</div>
