<div class="container">
  <h1>All bookings</h1>
    <ul>
      <% @bookings.each do |booking| %>
          <div class="card-product">
            <div class="card-product-infos">
              <li>Yachtname: <%= booking.yacht.name %></li>
              <li>Begin: <%= booking.start_time.strftime("%d/%m/%Y")%></li>
              <li>End: <%= booking.end_time.strftime("%d/%m/%Y")%></li>
              <li>Interested person: <%= booking.user.first_name %></li>
            </div>
              <%= button_to "Accept", class: "btn-gradient"%>
              <%= button_to "Decline", class: "btn-gradient" %>
            </div>
      <% end %>
  </ul>
</div>
