<h1>All Bookings</h1>
<ul>
  <% @bookings.each do |booking| %>
    <li><%= booking.yacht %></li>
    <li><%= booking.start_time %></li>
    <li><%= booking.end_time %></li>
    <li><%= booking.user %></li>
    <%= button_to "Accept" %>
    <%= button_to "Decline" %>
  <% end %>
</ul>
