<div class="container">
  <h1>All Bookings</h1>
    <ul>
      <% @bookings.each do |booking| %>
          <div class="card-product">
            <div class="card-product-infos">
              <li>Yachtname: <%= booking.yacht.name %></li>
              <li>Begin: <%= booking.start_time %></li>
              <li>End: <%= booking.end_time %></li>
              <li>Interested Person: <%= booking.user.id %></li>
            </div>
            <div>
            <%= button_to "Accept" %>
            <p><%= button_to "Decline" %></p>
            </div>
          </div>
  <% end %>
</div>


