<div class="container">
  <h1>All bookings</h1>
    <ul>
      <% @bookings.each do |booking| %>
          <div class="card-product">
            <div class="card-product-infos">
              <li>Yachtname: <%= booking.yacht.name %></li>
              <li>Begin: <%= booking.start_time %></li>
              <li>End: <%= booking.end_time %></li>
              <li>Interested person: <%= booking.user.first_name %></li>
            </div>
            <div>
              <%= button_to "Accept" %>
              <%= button_to "Decline" %>
            </div>
          </div>
  <% end %>
</div>
