<div class="container">
    <h1>All bookings</h1>
    <ul>
    <% @bookings.each do |booking| %>
        <li>Yachtname: <%= booking.yacht.name %></li>
        <li>Begin: <%= booking.start_time.strftime("%d/%m/%Y")%></li>
        <li>End: <%= booking.end_time.strftime("%d/%m/%Y")%></li>
        <li>Interested person: <%= booking.user.first_name %></li>
      <div class="card-body text-center">
        <%= button_to "Accept"%>
      </div>
      <div class="card-body text-center">
      <%= button_to "Decline"%>
      </div>
      </div>
      <% end %>
      </ul>
    </div>

</div>
