<div class="card">
  <h2 class="card-title"><%= @yacht.title %></h2>
  <h3 class="card-subtitle mb-2 text-muted"><%= @yacht.name %></h3>
  <% unless @yacht.photo.key == nil %>
    <%= cl_image_tag @yacht.photo.key, class: "card-img-top", height: 300, width: 400, crop: :fill %>
  <% end %>
  <div class="card-body">
    <p class="card-text"><%= @yacht.description %></p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><strong>Length:</strong> <%= @yacht.length %> m</li>
      <li class="list-group-item"><strong>Price:</strong> <%= @yacht.price %> €</li>
      <li class="list-group-item"><strong>Category:</strong> <%= @yacht.category %></li>
    </ul>
    <div class="card-map"
      data-controller="map"
      data-map-marker-value="<%= @yacht.to_json %>"
      data-map-markers-value="<%= @yachts.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    <% if current_user == @yacht.user %>
      <%= link_to "Edit yacht", edit_yacht_path, class: "btn-gradient" %>
    <% end %>
    <% unless current_user == @yacht.user %>
      <%= link_to "Book now", new_booking_path(@yacht), class: "btn-gradient" %>
    <% end %>
  </div>
</div>
